.password {
  display: flex;
  flex-direction: column;
  gap: 5px;
  .password-input {
    width: 100%;
    border-radius: 5px;
    border: 2px solid var(--bright-blue);
    padding: 5px 10px;
    outline: none;
    margin-bottom: 10px;
  }
}
